@font-face {
    font-family: 'Linux Libertine'; /* normal */
    src: url('../fonts/LinLibertine_R.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Linux Libertine'; /* italic */
    src: url('../fonts/LinLibertine_RI.otf') format('opentype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Linux Libertine'; /* bold */
    src: url('../fonts/LinLibertine_RB.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Linux Libertine'; /* bold italic */
    src: url('../fonts/LinLibertine_RBI.otf') format('opentype');
    font-weight: bold;
    font-style: italic;
}

body {
    font-family: 'Linux Libertine';
}

h1 {
    font-family: 'Linux Libertine';
}

#topbar {
    margin-top: 75px;
}