@font-face {
    font-family: 'Linux Libertine'; /* normal */
    src: url('../fonts/LinLibertine_R.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Linux Libertine'; /* italic */
    src: url('../fonts/LinLibertine_RI.otf') format('opentype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Linux Libertine'; /* bold */
    src: url('../fonts/LinLibertine_RB.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Linux Libertine'; /* bold italic */
    src: url('../fonts/LinLibertine_RBI.otf') format('opentype');
    font-weight: bold;
    font-style: italic;
}

body {
    font-family: 'Linux Libertine';
    background-color: #EEE9E4;
}

#topbar {
    margin-top: 20px;
}

#topdiv {
    width: 80%;
    display: inline-block;
    margin-top: 50px;
}

#toptext {
    margin-bottom: 0px;
}

#topname {
    margin: 0 0 0 0;
}

#party-name {
    text-align: center;
}

.profile-name {
    font-size: 18px;
    margin-top: 6px;
}

.profile-role {
    font-size: 16px;
    margin-top: 2px;
}

.profile-relation {
    font-size: 14px;
}

html * {
    font-family: 'Linux Libertine' !important;
}