@font-face {
    font-family: 'Linux Libertine'; /* normal */
    src: url('../fonts/LinLibertine_R.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Linux Libertine'; /* italic */
    src: url('../fonts/LinLibertine_RI.otf') format('opentype');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'Linux Libertine'; /* bold */
    src: url('../fonts/LinLibertine_RB.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Linux Libertine'; /* bold italic */
    src: url('../fonts/LinLibertine_RBI.otf') format('opentype');
    font-weight: bold;
    font-style: italic;
}

body {
    background-color: #EEE9E4;
}

#topbar {
    margin-top: 20px;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 2px;
}

#topdiv {
    width: 80%;
    display: inline-block;
    margin-top: 50px;
}

#toptext {
    margin-bottom: 0px;
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 2px;
}

#topname {
    margin: 0 0 0 0;
    font-family: 'Linux Libertine';
    /* color: #5d9468; */
}

#party-name {
    text-align: center;
}

.profile-name {
    font-size: 18px;
    margin-top: 6px;
    font-family: 'Linux Libertine';
}

.profile-role {
    font-size: 16px;
    margin-top: 2px;
    font-family: 'Linux Libertine';
}

.profile-relation {
    font-size: 14px;
    font-family: 'Linux Libertine';
}

.item {
    font-family: 'Linux Libertine';
}

h1 {
    font-family: 'Linux Libertine';
}

h2 {
    font-family: 'Linux Libertine' !important;
}

h3 {
    font-family: 'Linux Libertine' !important;
}

h4 {
    font-family: 'Linux Libertine' !important;
}

p {
    font-family: 'Linux Libertine';
}